/* formatação global da página */
/* o asterisco serve p formata tds os arquivos dentro do html */
* {
    margin: 0;
    /* resetar bordas e preenchimento da pág que vem por padrão do navegador */
    padding: 0;
    /* resetar bordas e preenchimento da pág que vem por padrão do navegador */
    list-style: none;
    /* reseta as bolinha q vem por padrao nas listas */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* essa é fml de fonte do html o site todo sera neste padrão */
    box-sizing: border-box;
    /* essa tag ajuda os elementos não podem sair da caixa, p nao sair da caixa */
}

/*  esta estilizaçao acima é universal */
/* o ponto nao coloca no inicio do header somente em classes */

header {
    background-color: #D8D8C0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    /* o header fica fixado parado */
    left: 0;
    top: 0;
    /* left, top ficam zerado por padrao */
    z-index: 999;
    /* profundidade dos elementos, eixo cartesiano, trazendo ele p frente */
}

/* ESTILIZAÇÃO DA LOGO */
.logo-JK {
    width: 8rem;
    /* largura responsiva da imagem */
    height: auto;
    /* o auto servirá cm uma altura automática do navegaor */
}

/* Estilizaçao menu mobile */

.menu-btn {
    /* ocultando o menu lista */
    /* div pai mobile */
    display: none;
    /* esconde o menu amburgue */
    font-size: 2rem;
    cursor: pointer;
    /* cursor p ativar (a maozinha do mouse) */

}

.nav-menu {
    /* menu lista */
    display: none;
    /* ocultando o menu lista */
}

.ul-list {
    /* responsavel somente pela organização das listas e não pelas ancoras*/
    display: flex;
    gap: 15px;
}

.ul-list li a {
    /* é o caminho da ancora q serve p remover o sublinahdo da lista e outras coisas etc... */
    text-decoration: none;
    color: black;
    padding: 0.8rem;
}

.ul-list li a:hover {
    /* houver ao passar o mouse vai acontecer alguma coisa; ex; altera a cor, borda etc... ele tem q ficar separado da linha 67; Qdo for usar o houver tem q ele abrir um novo bloco */
    color: rgb(65, 64, 64);
    transition: 0.8s;
    border-bottom: 2px solid black;
    /*border-bottom: com 3 valores */
}

/* FINALIZAÇÃO DO HEADER */

.sec01 {
    background-image: url(IMAGENS/DESKTOP.jpg);
    background-size: cover;
    background-position: top;
    padding: 13rem;
}