/* formatação global da página */
/* o asterisco serve p formata tds os arquivos dentro do html */
* {
    margin: 0;
    /* resetar bordas e preenchimento da pág que vem por padrão do navegador */
    padding: 0;
    /* resetar bordas e preenchimento da pág que vem por padrão do navegador */
    list-style: none;
    /* reseta as bolinha q vem por padrao nas listas */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* essa é fml de fonte do html o site todo sera neste padrão */
    box-sizing: border-box;
    /* essa tag ajuda os elementos não podem sair da caixa, p nao sair da caixa */
}

/*  esta estilizaçao acima é universal */
/* o ponto nao coloca no inicio do header somente em classes */

header {
    background-color: #D8D8C0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    /* o header fica fixado parado */
    left: 0;
    top: 0;
    /* left, top ficam zerado por padrao */
    z-index: 999;
    /* profundidade dos elementos, eixo cartesiano, trazendo ele p frente */
}

/* ESTILIZAÇÃO DA LOGO */
.logo-JK {
    width: 8rem;
    /* largura responsiva da imagem */
    height: auto;
    /* o auto servirá cm uma altura automática do navegaor */
}

/* Estilizaçao menu mobile */

.menu-btn {
    /* ocultando o menu lista */
    /* div pai mobile */
    display: none;
    /* esconde o menu amburgue */
    font-size: 2rem;
    cursor: pointer;
    /* cursor p ativar (a maozinha do mouse) */

}

.nav-menu {
    /* menu lista */
    display: none;
    /* ocultando o menu lista */
}

.ul-list {
    /* responsavel somente pela organização das listas e não pelas ancoras*/
    display: flex;
    gap: 15px;
}

.ul-list li a {
    /* é o caminho da ancora q serve p remover o sublinahdo da lista e outras coisas etc... */
    text-decoration: none;
    color: black;
    padding: 0.8rem;
}

.ul-list li a:hover {
    /* houver ao passar o mouse vai acontecer alguma coisa; ex; altera a cor, borda etc... ele tem q ficar separado da linha 67; Qdo for usar o houver tem q ele abrir um novo bloco */
    color: rgb(65, 64, 64);
    transition: 0.8s;
    border-bottom: 2px solid black;
    /*border-bottom: com 3 valores */
}

/* FINALIZAÇÃO DO HEADER */

.sec01 {
    background-image: url(IMAGENS/DESKTOP.jpg);
    background-size: cover;
    background-position: top;
    padding: 13rem;
}

.sec02 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 8rem;
    flex-wrap: wrap;
    /*qdo as duas caixas ficarem lado a lado e for cel ele coloca uma embaixo da outra ex: (responsivida)*/
}


.caixa {
    /* .caixa: são as caixas da direita e da esquerda ao mesmo tempo */
    background-color: grey;
    color: antiquewhite;
    font-size: 1.2rem;

    /* responsividade */
    width: 25%;
    min-height: 299px;
    height: 14rem;

    /* aumenta a caixa e deixa as informações detro fk melhor */
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    transition: 0.8s;
    padding: 1rem;
}


.pai-caixas {
    /* responsavel pela (organização) das duas caixas  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}










.caixa-icons i {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: antiquewhite;
}

.caixa-icons {
    text-align: center;
    padding: 0.5rem;
}

.texto-caixa {
    text-align: center;
    padding: 0.5rem;
}

.texto-caixa p {
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.texto-caixa button {
    width: 8rem;
    background-color: rgb(22, 22, 24);
    padding: 0.5rem;
    border: none;
    color: white;

}

.text-content {
    text-align: center;
}

.text-content h3 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.text-content p {
    color: rgb(71, 70, 70);
    text-align: center;
    font-size: 1.2rem;
}

.sec03 {
    background-image: url(IMAGENS/building-9682225_1280.jpg);
    background-size: cover;

    background-position: center;
    background-attachment: fixed;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: red;
    upercase: uppercase;
}

.sec03 button {
    background-color: rgb(22, 22, 24);
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.8s;
}

.sec03 button:hover {
    background-color: rgb(71, 70, 70);
}

.sec04 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 8rem;
    flex-wrap: wrap;

}


.sec04-img {
    background-image: url(IMAGENS/BANNER-02.jpg);
    background-position: center;
    background-size: cover;
}

.text-content-sec04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
}

.text-content-sec04 h3 {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.text-content-sec04 p {
    font-size: 0.8rem;

}

.text-content-sec04 button {
    background-color: rgb(22, 22, 24);
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.8s;
}

.text-content-sec04 button:hover {
    background-color: rgb(71, 70, 70);
}

/* estou iniciando a seção do formulario */
.sec05 {
    padding: 7rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.input-email {
    padding: 0.8rem;
    width: 23rem;
    background-color: rgba(128, 128, 128, 0.315);
    color: antiquewhite;
    border: none;
    margin: 1.5rem;
}

.input-form {
    width: 8rem;
    background-color: rgb(22, 22, 24);
    padding: 0.5rem;
    color: antiquewhite;
    border: none;
}

.titulo-do-texto {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.paragrafo {
    font-size: 0.8rem;
    font-weight: 600;
}

footer {
    background-color: #000000b5;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

}


.social-media {
    padding: 1.5rem;
}

.social-media p {
    color: white;
}

.social-media i {
    font-size: 2em;
    color: white;
    transition: 0.8s;
    margin: 0.5em;
}

.social-media i:hover {
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.46);
}

.line {
    width: 60%;
    margin: 0.5em auto;

}

.line-strong {
    margin: 2rem auto;
    width: 70%;

}

.div-list ul li {
    list-style: none;
    margin-top: 1em;
}

.div-list ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.407);
    transition: 0.8s;
}

.div-list ul li a:hover {
    color: rgba(255, 255, 255, 0.552);

}

.auto-type {
    padding: 1.5rem;
    font-size: 1.5rem;
    /*tamanho da fonte*/
    font-weight: 800;
    /*peso da fonte*/
    text-transform: uppercase;
    /*tornando o texto em caixa alta*/
    margin-bottom: 2rem;
    /*margem inferior do título*/
}

.swiper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 3rem;
    margin-bottom: 2rem;
}

.swiper-slide img {
    width: 100%;
    height: 18rem;
    /* altura fixa — todas ficam iguais */
    object-fit: cover;
    /* mantém proporção e evita distorções */
    border-radius: 12px;
    /* opcional */
    transition: 0.8s;
    cursor: pointer;
}
.swiper-mySwiper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0rem;
    margin-bottom: 2rem;
    height: 350px;
   
}

.swiper-slide img:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.491);
}






/* MENU MOBILE */

/* Ícone do menu (hambúrguer) */
.menu-btn {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    /* torna o item invisível/só aparece no mobile */
}

/* navegação do menu hamburguer */
.nav-menu {
    display: none;
    /*só irá aparecer no mobile*/
}








@media (max-width: 500px) {

    header {
        padding: 1rem;
        margin-right: -5rem;
        /*correção menu navBar*/
        justify-content: space-between;
    }

    .logo-JK {
        width: 6rem;
        margin-left: 3rem;
    }


    .section-01 {
        background-image: url(imagem/TABLET.jpg);
        /*trocando a img para telas menores*/
        padding: 8rem;
        /*diminuindo o preenchimento da section*/

    }

    /* Centraliza tudo dentro da section-02 */
    .section-02 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 4rem 1rem;
        /*primeiro valor é o padding superior/inferior
    segundo valor é o padding left/right*/
    }

    /* Centraliza o texto do título e parágrafo */
    .text-content h3 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .text-content p {
        font-size: 1rem;
        text-align: center;
        padding: 0 1rem;
    }

    /* Faz as caixas ficarem uma embaixo da outra e centralizadas */
    .pai-caixas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding: 1rem;
    }

    .texto-caixa p {
        font-size: 1rem;
    }

    .texto-caixa button {
        width: 100%;
        max-width: 10rem;
        margin-top: 1rem;
    }


    .menu-desktop {
        /* Aqui estamos ocultando o menu DESKTOP para versões MOBILE */
        display: none;
        /*Responsável por ocultar o menu ou qualquer outra propriedade*/
    }

    .menu-btn {
        display: flex;
        /*tornando o menuHamburger Visível*/
        margin-right: -3rem;
        /*posicionamento do menu*/
    }

    /* MENU VERTICAL */
    .nav-menu {
        position: absolute;
        top: -30rem;
        /* começa escondido acima */
        left: -2rem;
        /*ajustando o alinhamento do menu*/
        width: 100%;
        /*largura total da caixa do menu*/
        height: 30vh;
        /*altura da caixa do menu*/
        background-color: #D8D8C0;
        transition: top 0.3s ease-in-out;
        /* transição suave */
        display: flex;
        /*alinhamento dos itens*/
        justify-content: center;
        /*alinhamento horizontal*/
        align-items: center;
        /*alinhamento vertical*/
    }

    .show {
        /*essa class será usada pelo JavaScript para ação do menu*/
        top: 90px;
        /* desce suavemente quando é ativado */
        left: -2rem;
        /*posicionamento do menu*/
    }



    /* MENU HORIZONTAL */

    /* .nav-menu {
  position: fixed;
  top: 0;
  left: -100%;escondido fora da tela 
  /* width: 70%; tamanho da gaveta 
  /* height: 130vh;
  background-color: #D8D8C0;
  transition: left 0.3s ease-in-out; animação lateral 
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
  */

    /* Quando o JS adicionar a classe .show 
.show {
  left: 0; /* entra na tela 
} */



    .ul-list2 {
        flex-direction: column;
        gap: 10px;
        padding: 1rem 0;
    }



}